# Flutter & Dart
**/.dart_tool/
**/.packages
**/.pub-cache/
**/*.flutter-plugins
**/*.flutter-plugins-dependencies
**/.melos_tool/
**/build/
**/generated_plugin_registrant.dart
**/.dart_tool.js

# IntelliJ / Android Studio
**/*.iml
**/*.ipr
**/*.iws
**/.idea/

# VS Code
/**/.vscode/
**/.history/


# Xcode
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/ephemeral/
**/ios/Runner.xcworkspace/
**/ios/build/
**/*.xcworkspace
**/*.xcuserstate
**/*.xcuserdata

# Android
**/android/.gradle/
**/android/.idea/
**/android/local.properties
**/android/build/
**/*.keystore
**/*.jks

# Firebase secrets (à injecter via CI)
**/google-services.json
**/GoogleService-Info.plist
**/firebase_options.dart

# Other system files
**/.DS_Store
**/Thumbs.db

# Logs
**/*.log

# Coverage & test
**/coverage/
**/.dart-coverage/

# Env / dotenv
**/*.env
**/*.env.*
**/*.envrc

# GitHub Actions
.github/workflows/*.log
.github/workflows/*.cache